﻿@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@




<div class="row ">
    <hr />
    <div class="col-md-4">

        <h2>Quienes somos</h2>
        <h3>
            Empresa dedicada al mundo de la enmarcación y decoración desde 1992, con fabricación y taller propio.
            Nos encanta la decoración tanto como a ti.

            Por eso te ofrecemos el catálogo de decoración más completo de España. Encontrarás productos nacionales y de importación, vintage, trendy, juvenil, rústico, y mucho más.
        </h3>
    </div>
    <div class="col-md-1 text-center">

    </div>
    <div class="col-md-7 text-center">
        <img src="~/Images/tienda.jpg" class='img-responsive img-thumbnail'>
    </div>


</div>