﻿@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<h2>Contacto</h2>
<hr style="width: 100%; background-color: black; height: 1px; border-color : transparent;" />
<h3>¿EN QUÉ PODEMOS AYUDARTE?</h3>
<h4>Echa un vistazo a las Preguntas frecuentes - AYUDA/PREGUNTAS FRECUENTES</h4>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

