﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-1">
        <img src="~/Images/logo2.png" class='img-responsive img-thumbnail' />

    </div>

    <div class="col-md-4 text-center divideV">
        <h1 class="cover-heading">Tu tienda de arte</h1>
        <p class="lead">
            Descubre nuestro catalogo de productos, no encontraras nada mejor.
             Encontrarás productos nacionales y de importación, vintage, trendy, juvenil, rústico, y mucho más.
        </p>

   
    </div>

    <div class="col-md-1 ">
 
    </div>

    <div class="col-md-6 right">
        <img src="~/Images/tienda.jpg" class='img-responsive img-thumbnail' />
    </div>

</div>
               



<div class="row ">
    <hr />
    <div class="col-md-3">
        <img src="~/Images/campo.jpg" class='img-responsive img-thumbnail' />
    </div>
    <div class="col-md-3 text-center">
        <img src="~/Images/la-noche.jpg" class='img-responsive img-thumbnail' />
    </div>
    <div class="col-md-3 text-center">
        <img src="~/Images/fondo2.png" class='img-responsive img-thumbnail'>
    </div>
    <div class="col-md-3 text-center">
        <img src="~/Images/fondo.png" class='img-responsive img-thumbnail'>
    </div>
</div>

<hr>
<div class="row" style="background-color:#aaa">
    <br />
    <div class="col-md-1">
    </div>

    <div class="col-md-2">
        <img src="~/Images/mrv.JPG" class='img-responsive img-thumbnail' />
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-3 center">
        <img src="~/Images/envio.JPG" class='img-responsive img-thumbnail' />
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-2 right">
        <img src="~/Images/pagos.JPG" class='img-responsive img-thumbnail' />
    </div>
</div>

<div class="row" style="background-color:#aaa">
    <br />
</div>


<style type="text/css">
    .divideV {
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: -10px;
}
</style>

