﻿@model IEnumerable<Shop.MVC.Models.UserViewModel>

@{
    ViewBag.Title = "UserList";
}


<h2>Lista de usuarios</h2>


<table id="Table" class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)

            </th>
            <th>


            </th>

        </tr>
    </thead>

    <tfoot>
        <tr>
            <th colspan="5" style="text-align:right"></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="col-md-3">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @*@Html.ActionLink("Borrame", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }

    </tbody>

</table>






