﻿<!DOCTYPE html>


@Scripts.Render("~/bundles/app")


<div class="row">
    <div class="col-sm-4">
        <form>
            <h3>Invoke API</h3>
            @*<div class="form-group">
                <label>User</label>
                <input class="form-control" type="text" readonly data-bind="value: user" />
            </div>
            <div class="form-group">
                <label>Result</label>
                <input class="form-control" type="text" readonly data-bind="value: result" />
            </div>*@
            <div class="form-group">
                <button type="button" class="btn btn-default" onclick="callApiOrders();">Call API</button>
            </div>
            <div class="form-group error-messages" data-bind="foreach: errors">
                <p data-bind="text: $data" />
            </div>
        </form>
    </div>
    @*<div class="col-sm-4">
        <form data-bind="submit: register">
            <h3>Register</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" data-bind="value: registerEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" data-bind="value: registerPassword" />
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input class="form-control" type="password" data-bind="value: registerPassword2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </form>
    </div>*@
    <div class="col-sm-4">
        <h3>Log In</h3>
        <form>
            <div class="form-group">
                <label>Email</label>
                <input id="loginEmail" class="form-control" type="text" data-bind="value: loginEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input id="loginPassword" class="form-control" type="password" data-bind="value: loginPassword" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" onclick="login();">Log In</button>
                <button data-bind="click: logout" class="btn btn-default">Log Out</button>
            </div>
        </form>
    </div>
</div>