﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style media="screen">
        body {
            background-image: url(../../Images/fondoI.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 100% top;
            background-attachment: fixed;
        }
    </style>

</head>

@*<body style="background-image: url('../../Images/fondo1.png')" >*@
<body>
    <!-- Brand -->
    <div class="navbar navbar-inverse navbar-fixed-top">

        @*<a class="navbar-brand col-md-1" href="@Html.ActionLink("Home", "Index", "Home")">
                <img src="~/Images/ele_barra.png" class="img-responsive" />
            </a>*@

        <div class="collapse navbar-collapse justify-content-between" id="navbar2">

            <ul class="navbar-brand col-md-1">
                <img src="~/Images/ele_barra.png" class="img-responsive" />
            </ul>
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("Home", "Index", "Home")</li>

                <li>@Html.ActionLink("Productos", "Index", "Products")</li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nosotros <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                </li>

                @if (User.IsInRole("Client"))
                {
                    <li>@Html.ActionLink("Pedidos", "Index", "Orders")</li>
                }

                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Pedidos", "Index", "Orders")</li>
                    <li>@Html.ActionLink("Usuarios", "UserList", "Account")</li>
                }

                @if (User.IsInRole("Client") || !User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Carrito", "Index", "Carts")</li>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Perfil", "Edit", "Account")</li>
                        @*Page.Title = "Home page for " + User.Identity.Name;*@
                }

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="container body-content">
        <hr />
        @RenderBody()

        <style>
            .container {
                max-width: 3500px;
            }
        </style>

        <style>
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: gray;
                color: white;
                text-align: center;
            }
        </style>



        <footer class="footer">


            <hr />
            <p>&copy; @DateTime.Now.Year - Trabajo tienda online</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
<script>

    $(document).ready(function () {
        $(".dropdown-toggle").dropdown();
    });

</script>

<script>
    $(function () {
        $('.lazy').lazy();
    });
</script>