﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div style="background-color: #A52A2A; color: White; height: 10px;">
</div>
<div style="background-color: #2A2AA5; color: White; height: 170px;">

    <div class=&quot;container&quot;>
        <h2><span>500</span>Error interno del servidor</h2>
        <p>¡Vaya! Algo salió mal. Quiza este arrancando el servidor<br />
        <br />Trata de volver a cargar esta página o no dudes en contactar con nosotros si el problema persiste.</p>
    </div>
    <div style=" padding:20px;">
        <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 10px;">
</div>  