﻿@model Shop.MVC.Models.OrderViewModel

@{
    ViewBag.Title = "CreateInit";
}

<h2>Pago</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <style type="text/css">

        #creditCardForm .selectContainer .form-control-feedback {
            right: -15px;
        }
    </style>
    <br>   


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
      

        <div class="form-group">

            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                     <h4>   Dirección de envio:</h4>
                    @Html.DisplayFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })

                    @Html.DisplayFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.TotalPago, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.TotalPago, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalPago, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.City)
    @Html.HiddenFor(model => model.Street)
    @Html.HiddenFor(model => model.TotalPay)

    <div class="container">

               
        <div class="row">
            <div class="col-xs-12 col-md-6">

                <!-- CREDIT CARD FORM STARTS HERE -->
                <div class="panel panel-default credit-card-box">
                    <div class="panel-heading display-table">
                        <div class="row display-tr">
                            <div class="display-td">
                                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                            </div>
                        </div>
                    </div>


                    <div class="panel-body">

                        <form id="creditCardForm">

                            <div class="form-group">
                                @Html.LabelFor(model => model.CardNumber, new { @class = "col-md-3 control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
                                    @Html.ValidationMessage("cardNumber")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CardHolder, new { @class = "col-md-3 col-xs-2 control-label" })
                                <div class="col-md-10 col-xs-10">
                                    @Html.EditorFor(model => model.CardHolder, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Cvv, new { @class = "col-md-3 col-xs-2 control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Cvv, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cvv, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ExpirationMonth, new { @class = "col-md-3 control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ExpirationMonth, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ExpirationMonth, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ExpirationYear, new { @class = "col-md-3 control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ExpirationYear, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ExpirationYear, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-7">
                                    <br><br>
                                </div>
                                <div class="col-xs-7 col-xs-offset-3">
                                    <button type="submit" class="btn btn-primary">Pagar</button>
                                    @Html.ValidationMessage("cardNumber")
                                    @Html.ValidationMessage("bank")


                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




}

<div>
    @Html.ActionLink("Ir a pedidos", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
