﻿@model Shop.MVC.Models.OrderViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalle del pedido</h2>


@section Styles {
    <link href="@Url.Content("~/Content/DataTables/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
}



<hr style="width: 100%; background-color: black; height: 1px; border-color : transparent;" />
<h4>Pedido nº: @Html.DisplayTextFor(model => model.Id)</h4>

<table id="TableOrder" class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderLinesVM.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderLinesVM.FirstOrDefault().ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderLinesVM.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderLinesVM.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderLinesVM.FirstOrDefault().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderLinesVM.FirstOrDefault().SubTotal)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="5" style="text-align:right">Total:</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>


    <tbody>

        @foreach (var item in Model.OrderLinesVM)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)

                </td>
                <td>

            

                </td>

            </tr>


        }


    </tbody>


</table>

<br />
@Html.DisplayTextFor(model => model.AddressVM)




@*@Scripts.Render("~/bundles/jqueryval")*@
@section Scripts {

    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#TableOrder').DataTable({
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(5, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(5).footer()).html(
                         pageTotal / 100 + ' €' + ' (' + total / 100 + ' € total)'
                    );
                }
            });
        });
    </script>

}
