﻿@model IEnumerable<Shop.MVC.Models.OrderList>

@{
    ViewBag.Title = "Index";
}


@section Styles {
    <link href="@Url.Content("~/Content/DataTables/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
}


@section Scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#orderTable').DataTable();
        });
    </script>
}


<h2>Pedidos</h2>
<hr style="width: 100%; background-color: black; height: 1px; border-color : transparent;" />


<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
    <table id="orderTable" class="table display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSend)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateReception)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateSend)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateReception)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                       
                        @*@Html.EnumDropDownListFor(modelItem => item.Status)*@

                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>

                    <td>

                     @Html.ActionLink("Detalle", "Details", new { id = item.Id })

                     @if (User.IsInRole("Admin"))
                     {
                        <label>|</label>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })    
                    }
 
                    </td>
                </tr>
            }
        </tbody>

</table>
