﻿@model IEnumerable<Shop.MVC.Models.CartItemList>

@{
    ViewBag.Title = "Index";
}


@section Styles {
    <link href="@Url.Content("~/Content/DataTables/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
}

<h2>Carrito</h2>
<hr style="width: 100%; background-color: black; height: 1px; border-color : transparent;" />


@*<label id=" labelId">
    @Html.DisplayNameFor(model => model.CartId)
    </label>

    @Html.DisplayFor(model => model.Last().CartId, new { id = "MyId" })*@

@using (Html.BeginForm("Index", "Carts"))
{
    @Html.AntiForgeryToken()




    <table id="Table" class="table display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Quantity)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subtotal)

                </th>
                <th>

                </th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th colspan="5" style="text-align:right">Total:</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.Price)

                    </td>
                    <td class="col-md-4">
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td class="col-md-4">
                        @Html.DisplayFor(modelItem => item.Subtotal)
                    </td>

                    <td>

                        @Html.ActionLink("Borrame", "Delete", new { id = item.ProductId })

                    </td>
                </tr>
            }

        </tbody>

    </table>

    @*@Html.ActionLink("Button text", "Create", "Orders", new { id = (ViewBag.Total) })*@




    <hr style="width: 100%; background-color: black; height: 1px; border-color : transparent;" />


    @*@ViewBag.Total*@
    @*@Html.HiddenFor(model => model.First().CartId) != null)*@

    <div class="form-group">
        @if (User.IsInRole("Client"))
        {
            if (ViewBag.Total != null && ViewBag.Total > 0)
            {
                <div class="col-md-offset-2 col-md-6">
                    <button type="button"
                            class="btn btn-primary"
                            title="Action description" onclick='window.location = " @Url.Action("Create", "Orders") ";'>
                        Realizar Pago
                    </button>
                </div>
            }
        }

        @if (!User.Identity.IsAuthenticated)
        {
            <h2>@Html.ActionLink("Inicia sesión para realizar el pago", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h2>
        }


    </div>

    <hr style="width: 100%; background-color: white; height: 1px; border-color : transparent;" />

}


@section Scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#Table').DataTable({
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(5, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(5).footer()).html(
                         pageTotal / 100 + ' €' + ' (' + total / 100 + ' € total)'
                    );
                }
            });
        });
    </script>

}

