﻿@model Shop.MVC.Models.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Producto</h2>
<hr style="width: 100%; background-color: black; height: 1px; border-color : transparent;" />

@using (Html.BeginForm("Details", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        @Html.HiddenFor(model => model.ProductId)
        @Html.HiddenFor(model => model.Stock)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionLarge, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.DescriptionLarge, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.DescriptionLarge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })

            </div>

            <div class="col-md-offset-1 col-md-2">
                <input type="submit" value="Añadir al carrito" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <hr>

}


<div class="container">
    <div class="row col-md-6">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>

            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="@Html.DisplayFor(model => model.Image1Base64)" id="imgProductImage1" alt="1" class="img-responsive" />

                </div>
                <div class="item">
                    <img src="@Html.DisplayFor(model => model.Image2Base64)" id="imgProductImage2" alt="2" class="img-responsive" />

                </div>

                <div class="item">
                    <img src="@Html.DisplayFor(model => model.Image3Base64)" id="imgProductImage3" alt="3" class="img-responsive" />

                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div><!-- /carousel -->
        </div>
    </div>

</div>

<style>
    .carousel-inner > .item > img {
        object-fit: scale-down;
        height: 50vh;
        width: 100%;
    }
</style>



<div>
    @Html.ActionLink("Volver al catálogo", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>
}