﻿@model IEnumerable<Shop.MVC.Models.ProductList>

@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Content/DataTables/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
}


@section Scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#productsTable').DataTable();
        });
    </script>
}

<h2>Catálogo </h2>

<hr style="width: 100%; background-color: black; height: 1px; border-color : transparent;" />

<p >
    @if (User.IsInRole("Admin"))
    {

        @Html.ActionLink("Crear producto", "Create")

    }

</p>



<table id="productsTable" class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionLarge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @if (User.IsInRole("Admin"))
                {
                    @Html.DisplayNameFor(model => model.Stock)
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-md-3">
                    @Html.DisplayFor(modelItem => item.DescriptionLarge)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="col-md-1">
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.DisplayFor(modelItem => item.Stock)
                    }

                </td>
                <td>
                    @*<img src="@Html.DisplayFor(modelItem => item.Image1Base64)" class="img-thumbnail" />*@
                    <img class="img-circle" src="@Html.DisplayFor(modelItem => item.Image1Base64)" alt="Generic placeholder image" width="140" height="140">
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.ProductId }) 
                    }
                    else
                    {
                        if (item.Stock <= 0)
                        {
                            @Html.Display("Sin Stock")
                            <label> Sin Stock</label>
                        }
                        else
                        {
                            @Html.ActionLink("Ver", "Details", new { id = item.ProductId })
                        }

                    }

                </td>
            </tr>
        }
    </tbody>

</table>


